.chart {
  margin-top: 1em;
  border-bottom: none;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

ul > svg {
  font-size: 1.8rem;
}

li {
  width: 100%;
  border-radius: 1em;
}

li:hover,
li:focus {
  background-color: lightgray;
  color: #000;
}

.active {
  background-color: #4c8bf5;
}

.active > button {
  color: #fff;
}

@media screen and (min-width: 800px) {
  .chart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    border-bottom: 0.5px solid gray;
  }

  ul {
    flex-direction: column;
  }

  ul > svg {
    font-size: 1.2em;
  }
}
