.sidebar {
  box-shadow: 0.2em 0 2em 0 #c8c8c8;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.logo > span {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4c8bf5;
}

.logo > svg {
  min-width: 1rem;
  color: #4c8bf5;
  font-size: 1.8rem;
}

@media screen and (min-width: 800px) {
  .sidebar {
    padding: 2em 0;
    min-width: 25%;
    height: 100vh;
  }

  .container {
    width: 80%;
    align-items: start;
  }

  .logo > svg {
    min-width: 1.4rem;
  }

  .logo {
    gap: 1rem;
    justify-content: flex-start;
    align-items: start;
    padding: 0 0.8em;
  }
}
